<table border = 1>
<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Date</th>
    <th>Cabin</th>
</tr>
<% @character.events.order('startdate desc').each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.description %></td>
      <td><%= event.startdate %></td>
      <td><%= @character.eventattendances.find_by(event_id: event.id).cabin %></td>
    </tr>
  <% end %>
  </table>