<h1>Player List</h1>
<%= link_to 'Add', new_admin_player_path %>
<table border = 1>
<tr>
    <th>Player Name</th>
    <th>Email Address</th>
    <th>Player Type</th>
</tr>
<% @players.all.each do |player| %>
<tr>
    <td>
    <%= link_to player.firstname + ' ' + player.lastname, admin_player_path(player) %></td>
    <td><%= player.emailaddress %></td>
    <td><%= player.playertype %></td>
</tr>
    
  <% end %>
  </table>


  