Experience: <%= current_user.explogs.where('acquiredate <= ? ', Time.now).sum(:amount) %><br>
<hr>
<ul class="nav nav-tabs" id="charTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="characters-tab" data-toggle="tab" href="#characters" role="tab" aria-controls="characters" aria-selected="true">Characters</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="explog-tab" data-toggle="tab" href="#explog" role="tab" aria-controls="class" aria-selected="false">Exp Log</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab" aria-controls="class" aria-selected="false">Events</a>
  </li>
</ul>

<div class="tab-content" id="charTabContent">
  <div class="tab-pane fade show active" id="characters" role="tabpanel" aria-labelledby="characters-tab">
    <%= render partial: 'player/tabs/characters' %>
  </div>
  <div class="tab-pane fade" id="explog" role="tabpanel" aria-labelledby="explog-tab">
    <%= render partial: 'player/tabs/explog' %>
  </div>
  <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">
    <%= render partial: 'player/tabs/events' %>
  </div>
</div>