<hr>
<ul class="nav nav-tabs" id="charTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="characters-tab" data-toggle="tab" href="#characters" role="tab" aria-controls="characters" aria-selected="true">Characters</a>
  </li>

</ul>

<div class="tab-content" id="charTabContent">
  <div class="tab-pane fade show active" id="characters" role="tabpanel" aria-labelledby="characters-tab">
    <%= render partial: 'player/tabs/characters' %>
  </div>
  
</div>