<div class="modal-body">
<%= bootstrap_form_with(model: @user, url: admin_user_path(@user)) do |f| %>

  <%= f.text_field :email %>
  <%= f.select :charactercount,  [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20 ], label: 'Max Characters' %>
  <%= f.select :usertype, [ 'Admin', 'Player','Cast' ], label: 'User Type' %>
  </p><p>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <button type="submit" class="btn btn-primary">Submit</button>
  </p>
  <% end %>
  </div>