<div class="container col-12  mt-4">
  <div class="row">
    <%= image_tag("pages/calendar/calendar-header.jpg", :class => "img-fluid") %><br>
  </div>
  <div class="row  mt-4">
    <p>Much of the Realm uses a calendar designed by the renowned scholar Kendra Armadas from the Kingdom of Cantara. </p>
  </div>
  <div class="row  mt-4">
    <div class="container col-6">
    <p class="h1">Years & Months</p>
      <p>The Cantaran year, known as a <i>winter</i>, consists of 365 days which are further broken down into 12 months known in Hyraeth as <i>moons.</i> <br>
      Each of the 12 months has between 28 and 31 days, which are divided up into 7-day periods known as <i>rides.</i></p>

      <ul>
        <li>Chillwind (January)
        <ul>
          <li>Sign: The Star (Your optimistic nature is an inspirational force)
          <li>Special Day: Midwinter
        </ul>
        <li>Snowfell (February)
        <ul>
          <li>Sign: The Moon (Your inner world is cast and spiritual)
          <li>Special Day: None
        </ul>
        <li>Winterwane (March)
        <ul>
          Sign: The Emperor (Loyal, Wise, Ambitious)
          Special Day: None
        </ul>
        <li>Mistmoot (April)
        <ul>
          <li>Sign: The Hierophant (Lead from Inner Knowledge)
          <li>Special Day: Springtide
        </ul>
        <li>Meadowrise (May)
        <ul>
          <li>Sign: The Lovers (Dual Nature / Two viewpoints)
          <li>Special Day: None
        </ul>
        <li>Greatsun (June)
        <ul>
          <li>Sign: The Chariot (Your mental powers help focus energy)
          <li>Special Day: None
        </ul>
        <li>Firemeet (July)
        <ul>
          <li>Sign: Strength (You encourage ambition and bravery in others)
          <li>Special Day: Midsummer
        </ul>
        <li>Firewithe (August)
        <ul>
          <li>Sign: The Hermit (Inner wisdom reveals your greatest purpose)
          <li>Special Day: None
        </ul>
        <li>Softsun (September)
        <ul>
          <li>Sign: Justice (Your balanced nature can find a fair outcome to any situation)
          <li>Special Day: None
        </ul>
        <li>Leafell (October)
        <ul>
          <li>Sign: Death (You shed old identities to express new ones)
          <li>Special Day: Hallowtide
        </ul>
        <li>Snowmoot (November)
        <ul>
          <li>Sign: Temperance (Your gentleness and sound judgment benefits many)
          <li>Special Day: None
        </ul>
        <li>Fellnight (December)
        <ul>
          <li>Sign: The Mage (You are empowered with great passion)
          <li>Special Day: Feast of the Waning Moon
      </ul>


    </div>
    <div class="container col-6">
      <%= image_tag("pages/calendar/compass-calendar.png", :class => "img-fluid") %>
      <p class="h1">Weeks & Days</p>
      <p>In Myth, a week is known as a ride. Rides are divided up into smaller day segments as follows:</p>
      <ul>
        <li>Moonday – Monday
        <li>Twinsday – Tuesday
        <li>Winesday – Wednesday
        <li>Thunderday – Thursday
        <li>Fireday – Friday
        <li>Swordsday – Saturday
        <li>Shieldsday – Sunday
      </ul>
      <p class="h1">Special Calendar Days</p>
      <ul>
      <li><b>Midwinter</b> also known as the High Festival of the Moon. It is a gathering and feast where friends gather to plan the year ahead, forge new alliances, and share gifts of goodwill.
      <li><b>Springtide</b> is the official beginning of spring. It is often a time for relaxation before crops are planted and the days are filled with more work.
      <li><b>Midsummer</b> also known as the Long Night, is a time of feasting, games, music, and romance.
      <li><b>Aventine</b> heralds the coming of autumn. It Is a celebration that begins on the first day of Softsun and ends on the last day of Leafell. During this time, many travel to various towns to celebrate and feast at different festivals. The most popular of festivals is known as Hallowtide – an ancient Elven holiday adopted by many other races over time. 
      <li><b>Hallowtide</b> is a three-day-long celebration of music, masks, and feasting that takes place late in fall. It is a time to share with friends before the long winter comes. It is also a somber time of vigil to remember our friends who have gone on before us. Originally an elven holiday, it has now been shared by most races for nearly three centuries. During this celebration, patrons decorate their homes (Veiling) to look abandoned as a means of tricking lost souls to pass them by. By day, they play a variety of games as a warm-up to an evening of masquerade, feasting, dancing, and friends. Some villages lead ghost tours, tell ghost stories and involve otherworldly activities. More recently, Hallowtide Festivals held in more wooded areas hold monster hunts (Culling) by night as a way of cleansing the forest of evening predators. 
      <li><b>The Feast of the Waning Moon</b> is the final great gathering of the year. It marks the arrival of winter and serves as a time of celebration. It is a time where many plan the year ahead, forge new alliances, and share gifts of friendship.
      </ul>
    </div>
  
  </div>
</div>