<div class="container col-12 mt-4">
  <div class="row">
    <div class="container col-12">
      <%= image_tag("pages/community/community-header.jpg", :class => "mx-auto d-block") %>
    </div>
  </div>
  <div class="row mt-2">
    <h3>Hear from us!</h3>
    Join us on Facebook for the latest news or subscribe to our newsletter to hear about future events, digitial content or ways to earn extra EXP.
  </div>
  <div class="row mt-4" id="contactlinks">
    <div class="container col-3" id="link">
      <a href="https://www.facebook.com/mythlarp/" target="_blank">
        <div>
          <i class="fab fa-facebook-square" id="facebook"></i><br>
          Myth Facebook Page
        </div>
      </a>
    </div>
    
    <div class="container col-3" id="link">
      <a href="https://www.mythlarp.com/join-our-free-elist/" target="_blank">
        <div>
          <i class="fas fa-envelope-square"></i><br>
          Our Newsletter
        </div>
      </a>
    </div>
    <div class="container col-3" id="link">
      <a href="https://www.youtube.com/channel/UCVzKfy-6sEgueNmAaruGn0g" target="_blank">
        <div>
          <i class="fab fa-youtube" id="youtube"></i><br>
          Youtube
        </div>
      </a>
    </div>
  </div>
  <div class="row mt-4">
    <h3>Talk to us!</h3>
    We would love to have you join our community and hear from you. Below are a multitude of ways in which to engage with the game staff and players in our community.
  </div>
  <div class="row mt-4" id="contactlinks">
    <div class="container col-3" id="link">
      <a href="https://www.facebook.com/groups/mythgnomers" target="_blank">
        <div>
          <i class="fab fa-facebook-square" id="facebook"></i><br>
            Mythgnomers Facebook Group
        </div>
      </a>
    </div>

    <div class="container col-3" id="link">
      <a href="https://discord.gg/XmKFgR7" target="_blank">
        <div>
          <i class="fab fa-discord" id="discord"></i><br>
          Discord
        </div>
      </a>
    </div>
    <div class="container col-3" id="link">
    </div>
  </div>
</div>