<table border = 1>
<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Date</th>
    <th>Character</th>
</tr>
<% @user.eventattendances.joins(:event).order('startdate desc').each do |eventattendance| %>
    <tr>
      <td><%= eventattendance.event.name %></td>
      <td><%= eventattendance.event.description %></td>
      <td><%= eventattendance.event.startdate %></td>
      <td><%= if(eventattendance.character) then eventattendance.character.name end%></td>
    </tr>
  <% end %>
  </table>