<table class="table table-hover table-bordered table-sm">
 <thead class="thead-dark">
<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Date</th>
    <th>Character</th>
</tr>
</thead>
<% @user.eventattendances.joins(:event).order('startdate desc').each do |eventattendance| %>
    <tr class="table-light">
      <td><%= eventattendance.event.name %></td>
      <td><%= eventattendance.event.description %></td>
      <td><%= eventattendance.event.startdate %></td>
      <td><%= if(eventattendance.character) then eventattendance.character.name end%></td>
    </tr>
  <% end %>
  </table>