<table class="table table-hover table-bordered table-sm">
<thead class="thead-dark">
<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Player Available</th>
</tr>
</thead>
<% datatable.all.each do |datarow| %>
<tr class="table-light">
    <td><%= datarow.name %></td>
    <td><%= datarow.description %></td>
    <td><%= datarow.playeravailable %></td>
</tr>
<% end %>
</table>