<table class="table table-hover table-bordered table-sm">
  <thead class = 'thead-dark'>
    <tr>
        <th>Name</th>
        <th>Short Description</th>
        <th>Player Available</th>
    </tr>
  </thead>
  <tbody>
    <% Race.all.each do |racerecord| %>
      <tr class="table-light">
        <td><%= link_to racerecord.name, edit_race_path(racerecord), remote: true %>
        </td>
        <td><%= racerecord.shortdescription %></td>
        <td><%= racerecord.playeravailable %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id='updateRaceDiv'>
  <%= render partial: 'admin/datatables/modals/race' %>
</div>