<div class="modal-body" id="characterPhotoModalBody">

<%= bootstrap_form_with(url: character_changephoto_path, local: true) do |f| %>
  <div>
    <div class="row characterCreateForm">
      <div class="col-12 my-2">
        <%= f.file_field :characterphoto, accept: "image/png,image/gif,image/jpeg", label: 'Upload Photo' %>
      </div>
     

  <br><br>
  <%= f.submit 'Save Photo', class: "btn btn-success" %>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<% end %>

</div>
 