

 @import 'bootstrap/scss/bootstrap';
@import 'rails_bootstrap_forms';
@import 'font-awesome';
@import 'select2/dist/css/select2';

body { 
  background-image: url(woodbackground.jpg);
  min-height: 100vh;
}


#gamedate {
  color: black;
  font-family: 'Copperplate Gothic Light';
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}


#pageContent {
  color: grey;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

#mainContent {
  background-image: url(parchmentbackground.jpg);
  min-height: 85vh;
}

#sidebarMenu {
  background-image: url(parchmentbackground.jpg);
  border-top-left-radius: 30px;
  width: 100px;
  min-height: 85vh;

  .sideLink {
    padding: 0px;
    margin-top: 10px;
    border-radius: 25px;
    text-align: left;
    width: 100%;
    
    img {
      height: 25px;
      width: 25px;
    }

    a:link, a:visited, a:hover, a:active  { 
      color: black;
      text-decoration:none;
      font-weight: bold;
      font-family: 'Copperplate Gothic Light';
      font-size: 16px;
      padding: auto;
    }
    
  }

  .sideSubLink {
    padding-left: 10px;
    margin-left: 20px;
    border-radius: 25px;
    text-align: left;

    a:link, a:visited, a:hover, a:active  { 
      color: black;
      text-decoration:none;
      font-weight: bold;
      font-family: 'Copperplate Gothic Light';
      font-size: 10px;
    }
  }

  .sideLink:hover, .sideSubLink:hover {
    background: rgba(75, 75, 75, 0.25)
  }
}

#characterprofile {
  #profilecard {
    img {
      display: block;
      width:100%;
    }
    #profilecardmiddle {
      position: relative;
    }
    #profilecardname {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 100%;
      font-weight: bold;
      font-family: 'Copperplate Gothic Light';
    }

    #profilecardbottom {
      position: relative;
    }
    #profilecarddetails {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: 0px;
      width: 80%;
      font-weight: bold;
      font-family: 'Copperplate Gothic Light';
    }
  }
  #profiledata {
    color: black;
    font-family: 'Copperplate Gothic Light';
    #name {
      display: inline-block;
      font-weight: bold;
    }
    #pronouns {
      margin-left: 10px;
    }
  }
}

#addskillmodalskilldetails {
  color: black;
  font-family: 'Copperplate Gothic Light';
  font-size: 12px;
  #skillnamecell {
    font-weight: bold;
    font-size: 20px;
  }
  #skilltiercell {
    font-size: 10px;
    text-align: right;
  }
}



#profiletabbar {
  a{
    background-color: #6c757d;
    color: black;
    font-weight: bold;
    font-family: 'Copperplate Gothic Light';
    font-size: 16px;
    border: 0px;
  }
  a.active{
    background-color:#343a40!important;
    border: 1px!important;
    color: white;
  }
  .nav-tabs {
    border-bottom: 1px solid#343a40
  }
}