@import 'bootstrap/scss/bootstrap';
@import 'rails_bootstrap_forms';
@import 'font-awesome';
@import 'select2/dist/css/select2';

html, body, .container, .row, .tabbable{height:100%}

body { 
  background-image: url(woodbackground.jpg);
}

#pageContent {
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  height: 90%;
  
}

#mainContent {
  background-image: url(parchmentbackground.jpg);
  
}

#sidebarMenu {
  background-image: url(parchmentbackground.jpg);
  padding-top: 3%;
  border-top-left-radius: 30px;
  width: 100px;

  .sideLink {
    padding: 0px;
    margin-top: 10px;
    border-radius: 25px;
    text-align: left;
    width: 100%;
    
    img {
      height: 25px;
      width: 25px;
    }

    a:link, a:visited, a:hover, a:active  { 
      color: black;
      text-decoration:none;
      font-weight: bold;
      font-family: 'Copperplate Gothic Light';
      font-size: 16px;
      padding: auto;
    }
    
  }

  .sideSubLink {
    padding-left: 10px;
    margin-left: 20px;
    border-radius: 25px;
    text-align: left;

    a:link, a:visited, a:hover, a:active  { 
      color: black;
      text-decoration:none;
      font-weight: bold;
      font-family: 'Copperplate Gothic Light';
      font-size: 10px;
    }
  }

  .sideLink:hover, .sideSubLink:hover {
    background: rgba(75, 75, 75, 0.25)
  }


 
  


}

