/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
 
@import 'bootstrap/scss/bootstrap';
@import 'rails_bootstrap_forms';
@import 'font-awesome';
@import 'select2/dist/css/select2';

body { 
  background-image: url(woodbackground.jpg);
  min-height: 100vh;
}

#gamedate {
  color: black;
  font-family: 'Copperplate Gothic Light';
  font-weight: bold;
  margin-top: 12px;
  font-size: 12px;
  text-align: center;
}

#pageContent {
  color: black;
  font-family: 'Copperplate Gothic Light';
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

#mainContent {
  background-image: url(parchmentbackground.jpg);
  min-height: 85vh;
}

#sidebarMenu {
  background-image: url(parchmentbackground.jpg);
  border-top-left-radius: 30px;
  width: 100px;
  min-height: 85vh;

  .sideLink {
    padding: 0px;
    margin-top: 10px;
    border-radius: 25px;
    text-align: left;
    width: 100%;
    
    img {
      height: 25px;
      width: 25px;
    }

    a:link, a:visited, a:hover, a:active  { 
      color: black;
      text-decoration:none;
      font-weight: bold;
      font-family: 'Copperplate Gothic Light';
      font-size: 16px;
      padding: auto;
    }
  }

  .sideSubLink {
    padding-left: 10px;
    margin-left: 20px;
    border-radius: 25px;
    text-align: left;

    a:link, a:visited, a:hover, a:active  { 
      color: black;
      text-decoration:none;
      font-weight: bold;
      font-family: 'Copperplate Gothic Light';
      font-size: 10px;
    }
  }

  .sideLink:hover, .sideSubLink:hover {
    background: rgba(75, 75, 75, 0.25)
  }
}

#characterprofile {
  #profilecard {
    img {
      display: block;
      width:100%;
    }
    #profilecardimage {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      #profilecardtop {
        position: relative;
        z-index: 1;
      }

      #characterphoto {
        z-index: 0;
        position: absolute;
        width: 90%;
      }
    }
    
    #profilecardmiddle {
      position: relative;
    }
    #profilecardname {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 100%;
      font-weight: bold;
      font-family: 'Copperplate Gothic Light';
    }

    #profilecardbottom {
      position: relative;
    }
    #profilecarddetails {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: 0px;
      width: 80%;
      font-weight: bold;
      font-family: 'Copperplate Gothic Light';
    }
  }
  #profiledata {
    color: black;
    font-family: 'Copperplate Gothic Light';
    #name {
      display: inline-block;
      font-weight: bold;
    }
    #pronouns {
      margin-left: 10px;
    }
  }
}

#cabinmap {
  img {
    display: block;
    width:100%;
  }

  a:link, a:visited, a:hover, a:active  { 
    font-weight: bold;
    font-size: 10px;
  }
}

#addskillmodalskilldetails {
  color: black;
  font-family: 'Copperplate Gothic Light';
  font-size: 12px;
  #skillnamecell {
    font-weight: bold;
    font-size: 20px;
  }
  #skilltiercell {
    font-size: 10px;
    text-align: right;
  }
}

#profiletabbar {
  a{
    background-color: #6c757d;
    color: black;
    font-weight: bold;
    font-family: 'Copperplate Gothic Light';
    font-size: 16px;
    border: 0px;
  }
  a.active{
    background-color:#343a40!important;
    border: 1px!important;
    color: white;
  }
  .nav-tabs {
    border-bottom: 1px solid#343a40
  }
}

#rulebook {
  .rulebookdownloadbutton {
    background-color: red;
    font-weight: bold;
    padding: auto;
    margin: 25px auto;
    border-radius: 25px;
    text-align: center;
    width: 100%;
    height: 50px;
    line-height:50px;
      
    a:link, a:visited, a:hover, a:active  { 
      color: black;
      font-family: "Roboto", Sans-serif;
      font-size: 20px;
    }
  }

.rulebookamazonbutton {
    background-color: blue;
    font-weight: bold;
    padding: auto;
    margin: 25px auto;
    border-radius: 25px;
    text-align: center;
    width: 50%;
    height: 50px;
    line-height:50px;
      
    a:link, a:visited, a:hover, a:active  { 
      color: white;
      font-family: "Roboto", Sans-serif;
      font-size: 20px;
    }
  }
}

#communitypage {
  #contactlinks {
    div {
      text-align: center;
    }
    i {
      font-size: 50px;
    }
    #link {
      margin: auto;
      padding: 5px;
      border-radius: 25px;

      a:link, a:visited, a:hover, a:active  { 
        color: black;
        text-decoration:none;
        font-weight: bold;
      }
    }

    #link:hover{
      background: rgba(75, 75, 75, 0.25)
    }

    #facebook {
      color: #4267B2;
    }
    #discord {
      color: #7289da;
    }
    #youtube {
      color: #FF0000;
    }
  }
}

#worldsettings {
  #AreaLink {
    display:flex;
    align-items:center;
    font-size: 25px;
    background-color: white;
    border-style: solid; 
    border-width: 1px;
    a:link, a:visited, a:hover, a:active  { 
      color: red;
      text-decoration:none;
      font-weight: bold;
    }
  }
  .areaname {
    font-weight: bold;
    display: inline;
  }

  #CantaraAreas {
    display: none;
    border-style: none solid solid solid; 
    border-width: 1px;
  }
  #FreeLandsAreas {
    display: none;
    border-style: none solid solid solid; 
    border-width: 1px;
  }
  #PaleLandsAreas {
    display: none;
    border-style: none solid solid solid; 
    border-width: 1px;
  }
  #DevariaAreas {
    display: none;
    border-style: none solid solid solid; 
    border-width: 1px;
  }
  #FaedenAreas {
    display: none;
    border-style: none solid solid solid; 
    border-width: 1px;
  }
  #SavageHeightsAreas {
    display: none;
    border-style: none solid solid solid; 
    border-width: 1px;
  }
}

#camppage {
  #campheader{
    height: 400px;
    width: 800px;

  }
  #tourlink {
    display: inline-block;
    background-color: lightgreen;
    margin: 4px 0px;
    border-radius: 25px;
    text-align: center;
    a:link, a:visited, a:hover, a:active  { 
      color: black;
      text-decoration:none;
      font-weight: bold;
    }
    #tourbutton {
      padding: 10px;
    }
}

  #camptabbar {
    a{
      background-color: #6c757d;
      color: black;
      font-weight: bold;
      font-family: 'Copperplate Gothic Light';
      font-size: 16px;
      border: 0px;
      border-radius: 25px 25px 0px 0px;
      
    }
    a.active{
      background-color:#343a40!important;
      border: 1px!important;
      color: white;
    }
    .nav-tabs {
      border-bottom: 1px solid#343a40
    }
  }

  #charTabContent {
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 0px 25px 25px;
    padding: 5px;
  }

  .cabinmaps{
    img {
      display: block;
      width:100%;
    }
  }
}


#mythologypage {

  #DeityLink {
    display:flex;
    align-items:center;
    font-size: 25px;
    background-color: white;
    border-style: solid; 
    border-width: 1px;
    a:link, a:visited, a:hover, a:active  { 
      color: blue;
      text-decoration:none;
      font-weight: bold;
    }
  }

  #DeityPreview {
    border-style: none solid solid solid; 
    border-width: 1px;
  }

  #AdaraDetails {
    display: none;
    border-style: none solid solid solid; 
    border-width: 1px;
  }
  #AmitelDetails {
    display: none;
    border-style: none solid solid solid; 
    border-width: 1px;
  }
  #DedrotDetails {
  display: none;
  border-style: none solid solid solid; 
  border-width: 1px;
  }
  #EnoonDetails {
  display: none;
  border-style: none solid solid solid; 
  border-width: 1px;
  }
  #IxbusDetails {
  display: none;
  border-style: none solid solid solid; 
  border-width: 1px;
  }
  #NaenyaDetails {
  display: none;
  border-style: none solid solid solid; 
  border-width: 1px;
  }
  #OroroDetails {
  display: none;
  border-style: none solid solid solid; 
  border-width: 1px;
  }
  #RyknosDetails {
  display: none;
  border-style: none solid solid solid; 
  border-width: 1px;
  }
  #ScandelenDetails {
  display: none;
  border-style: none solid solid solid; 
  border-width: 1px;
  }

}


