@import 'bootstrap/dist/css/bootstrap';

/* PAGE TITLES */

.nav-link {
  color: rgba(0,0,0,0.6);
}

.pagetitle {
font-family: 'Potta One', cursive;
color: rgba(0,0,0,0.6);
text-shadow: 2px 8px 6px rgba(0,0,0,0.2),255,255,255,0.3;
font-size: 2.5em;
text-align: center;
}

.pagesubtitle {
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),255,255,255,0.3;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
  }

  /* BODY */

html,
body {
  
  background-image: asset-url("rustic-larp-seam.jpg");
  background-repeat: repeat;
  
}

  .darkparchment{
    background-image: url("darkparchment.jpg");
    background-repeat: repeat
  }

  #page-content {
    background-image: asset-url("live-rpg-scroll.jpg");
    background-repeat: repeat;
    flex: 1 0 auto;
    background-color: lightgrey;
    
  }

  .imgtag {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

  #whitediv{
    background-color: #fff;
    padding-right: 0;
  }

  #mythlogo{
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }

  .kingdomtitle {
    font-size: 14px;
    color: black; 
    text-align: center;
  }

 /* FOOTER */

 .yourstory {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em
}