<div class="pagetitle">User List</div>
<div class="pagesubtitle" >A List of Our Players and NPCs</div>

<table class="table table-bordered table-sm table-hover mt-2">
<thead class="thead-dark">
<tr>
    <th>Name</th>
    <th>Email Address</th>
    <th>Type</th>
    <th>Edit</th>
</tr>
<% @users.all.each do |user| %>
<tr>
    <td>
    <%= link_to user.firstname + ' ' + user.lastname, admin_user_path(user) %></td>
    <td><%= user.email %></td>
    <td><%= user.usertype %></td>
    <td>
        <%= link_to edit_admin_user_path(user), remote: true do 
            fa_icon "edit"
        end
        %>
    </td>
</tr>
    
  <% end %>
  </table>

<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> 
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

  