<h1>User List</h1>
<table border = 1>
<tr>
    <th>Name</th>
    <th>Email Address</th>
    <th>Type</th>
</tr>
<% @users.all.each do |user| %>
<tr>
    <td>
    <%= link_to user.firstname + ' ' + user.lastname, admin_user_path(user) %></td>
    <td><%= user.email %></td>
    <td><%= user.usertype %></td>
</tr>
    
  <% end %>
  </table>


  