<p>NPCs can sleep upstairs in the common area of the tavern building or downstairs near the NPC center if space is available. </p>
This building has the following amenities:
<p><b>Refrigerator:</b> While food for NPCs at Myth is free, you may choose to bring something specific to accommodate your dietary needs. There is a refrigerator in the common area where any food you’d like to bring can be stored. Please be considerate of how much you store, so others have space for things they need to bring.</p>
<p><b>Heat:</b> During the colder months, the building has heat. There is also a fireplace for more warmth and ambiance.</p>
<p><b>Electricity:</b> You will have access to electrical outlets, which can be used to power a fan, CPAP machines, electric blankets, etc. This building also has a backup generator.</p>
<p><b>Mattresses:</b> There will be camp mattresses available for those who need them. We recommend bringing an air mattress if you have one.</p>
<p><b>Bathrooms/Showers:</b> There are modern bathrooms on the upper and lower floors of the tavern building. The bathrooms on the lower level have modern, clean shower stalls.</p>