<p>In addition to sleeping in a cabin, the tavern building or heading home at night, NPCs and Players are welcome to bring a tent to stay outdoors. Here are some points to note about staying in a tent:</p>
<p><b>Notify the Director:</b> For safety purposes, please let the Director know you are sleeping outdoors and where your tent is. Knowing where you will enable us to find you in the event of an emergency.</p>
<p><b>Stay Out of Game:</b> Your tent may not be in the gameplay area. If you aren’t sure where you can set up, ask us. We are here to help.</p>
<p><b>Lock Things Up:</b> Do not keep valuables in your tent. Instead, lock them in your vehicle or a large footlocker. Myth is not responsible for lost or stolen items.</p>
<p><b>Electricity:</b> You may be able to run a 50′ – 100′ extension cord from the tavern building to your tent. This option is not guaranteed. Do not use electric heaters in your tent.</p>
<p>Here is a tent-camping checklist with things to remember:</p>
<ul>
  <li>Tent (Be sure you have all the necessary poles and stakes)
  <li>Mallet (To secure stakes in the ground)
  <li>Sunshade or tarp
  <li>Sleeping bags
  <li>Sleeping pads or a light air mattress
  <li>Pillows
  <li>Pocket knife
</ul>