<h4>General</h4>
<ul>
  <li>First Aid Kit or First-aid supplies
  <li>Insect repellent
  <li>Spare eyeglasses/contact lens supplies. Contacts are the preferred way to see at Myth. They allow you to wear masks more efficiently, and combat won’t knock them off your head.
  <li>Cosmetics
  <li>License/ID
  <li>Cellphone & charger
  <li>Light: Having a small flashlight or glowstick for emergencies is advisable. You shouldn’t use a flashlight to walk around the game area unless there is an emergency.
</ul>

<h4>Health & Hygiene</h4>
<ul>
  <li>Prescription medications
  <li>Painkillers (like ibuprofen or aspirin)
  <li>Toothbrush & toothpaste
  <li>Mouthwash
  <li>Floss
  <li>Shampoo
  <li>Soap
  <li>Brush/comb
  <li>Deodorant
  <li>Hand sanitizer
  <li>Quick Drying Towel (2)
  <li>Menstrual products
  <li>Alcohol or antiseptic wipes
</ul>

<h4>Sleeping</h4>
<ul>
  <li>Sleeping Bag / Blankets
  <li>Pillow
  <li>Cot
  <li>Earplugs
  <li>Air Mattress and a means to inflate it
  <li>Footlocker and combination lock. Use this to store things like car keys.
  <li>Mosquito net: while not required, mosquitos happen, and keeping them off of you is golden.
</ul>
<h4>Clothing</h4>
<ul>
  <li>Underwear: Six pairs of underwear to start. You may need more or less. Moisture-wicking underwear is the best choice.
  <li>Long Underwear: Long underwear is very helpful during the colder months. Most costuming at Myth makes you look good but doesn’t necessarily keep you warm.
  <li>T-Shirts: Six logo-free black t-shirts help layer in warmer or cooler times of the year. Long-sleeve and short-sleeve options are best. 
  <li>Socks: We recommend bringing around six pairs of socks as a starting point. You may find this to be too few. Consider synthetic or wool. 
  <li>Warm hat: During the colder months, a non-descript black hat helps with warmth while playing monsters.
  <li>Gloves: During the colder months, gloves are wise to have. As with everything else, something non-descript and black is perfect.
  <li>Shoes/Boots: black or brown boots, sneakers, or shoes with no logos are ideal for footwear.
  <li>Belt
</ul>

<h4>Food</h4>
<b><p>NPCs</b><br>
Myth supplies all of your meals, snacks, and drinks for the weekend. The menu includes breakfast, lunch and dinner on Saturday and breakfast on Sunday from a professional caterer. There are snacks and beverages available at all times in Game Operations.<br>
While we do our best to accommodate a variety of dietary restrictions, including vegetarian and vegan, it isn’t always possible for us to provide for every need. If you have a very restrictive diet, you may want to consider bringing food options.</p>
<b><p>Players</b><br>
As a player you are welcome to participate to purchase a meal plan to have breakfast, lunch and dinner on Saturday and breakfast on Sunday provided by the caterer.</p>

<h4>Costume</h4>
<b><p>NPCs</b><br>
As an NPC, Myth supplies any costuming needs for the weekend. You are asked to come in non-descript black clothing. This attire is often black sweats with no logos that can be worn underneath the costuming Myth provides.</p>
<b><p>Players</b><br>
As a player you will be required to bring any costuming needs you may have. The Facebook group and Discord are great places to ask for recommendations, bounce ideas and share any extra props you may have</p>