<table border = 1>
<tr>
    <th>Name</th>
    <th>Rank</th>
    <th>Description</th>
</tr>
<% @character.characterprofessions.each do |characterprofession| %>
    <tr>
      <td><%= characterprofession.profession.name %></td>
      <td><%= characterprofession.profession.rank %></td>
      <td><%= characterprofession.profession.description %></td>
    </tr>
  <% end %>
  </table>