<table class="table table-striped table-bordered table-sm">
  <thead class = 'thead-dark'>
    <tr>
        <th>Name</th>
        <th>Rank</th>
        <th>Description</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <% @character.characterprofessions.each do |characterprofession| %>
      <tr>
        <td><%= characterprofession.profession.name %></td>
        <td><%= characterprofession.profession.rank %></td>
        <td><%= characterprofession.profession.description %></td>
        <td>
          <%=
            if(canRefundProfession(@character, characterprofession))
                link_to character_removeprofession_path(profession_id: characterprofession.profession_id), method: :post, data: { confirm: 'Are you sure?' } do 
                  fa_icon "trash" 
              end
            end
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>